[Unit]
Description=Validate apache service

[Service]
Type=simple
ExecStart=/atividade_aws_linux/script_verifica_apache.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
